@{
    ViewData["Title"] = "Home Page";
}

<p>
    <h2>Hi!</h2>
</p>
<p>
    <h2>It's main page of the site.</h2>
</p>
<p>
    <h2>Here you can see users and their rewards.</h2>
</p>
<p>
    <h2>Have fun!</h2>
</p>

<style>
    .home-page {
        background-color: rgb(127, 214, 185)
    }
</style>