@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <h2>This is empty yet</h2>
</p>
<p>
    <h2>But later</h2>
</p>
<p>
    <h2>I will come about something</h2>
</p>
<p>
    <h2>Probably...</h2>
</p>

<style>
    .privacy-page {
        background-color: rgb(127, 214, 185)
    }
</style>